* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --asparagus: #7FB069;
    --dark-green: #47682C;
    --dark-slate-grey: #19323c;
    --dark-blue-grey: #13262F;
}

body {
    background: linear-gradient(rgba(25, 50, 60, .75), rgba(65, 101, 138, .75)),
        url(../images/stars.jpg);
    background-size: 200%;
    overflow: hidden;
    animation: backgroundFlow 400s ease infinite;
    color: white;
    font-family: 'Unica One', sans-serif;
}

@keyframes backgroundFlow {
	0% {
		background-position: left;
	}
    25% {
		background-position: center;
	}
	50% {
		background-position: right;
	}
    75% {
        background-position: center;
    }
    100% {
        background-position: left;
    }
    75% {
        background-position: center;
    }
    50% {
		background-position: right;
	}
    25% {
		background-position: center;
	}
    0% {
		background-position: left;
	}
}

main,
.home,
.home-wrapper,
.menu,
.menu-wrapper,
.about,
.contact,
.contact-wrapper,
.projects,
.projects-wrapper {
    height: 100vh;
    width: auto;
}

.home,
.menu,
.about,
.contact,
.projects {
    margin: 0 24px;
}

/* ============================================================================================================
                                                
                                            HEADER STYLING

===============================================================================================================*/

header {
    position: fixed;
    z-index: 5;
    top: 5vh;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.left-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-header-content ul {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10vw;
}

.menu-button {
    background: transparent;
    border: none;
    fill: white;
    z-index: 7;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button .bar {
    transition:
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.menu-button[aria-expanded="true"] .bar {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

.menu-button[aria-expanded="true"] .top,
.menu-button[aria-expanded="true"] .bottom {
    y: 45;
}

.menu-button[aria-expanded="true"] .top {
    rotate: 45deg;
}

.menu-button[aria-expanded="true"] .middle {
    opacity: 0;
}

.menu-button[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

.menu-wrapper ul {
    list-style-type: circle;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10vw;
}

.menu li::marker {
    font-size: 2rem;
}

.menu-wrapper button {
    font-size: 2.3rem;
    font-weight: 600;
    font-family: "Unica One", sans-serif;
    width: fit-content;
    background: transparent;
    border: none;
    color: white;
    z-index: 3;
    cursor: pointer;
}

/* ============================================================================================================
                                                
                                            HOME PAGE STYLING

===============================================================================================================*/

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.intro-text h1 {
    font-size: 1.5rem;
}

.name {
    font-size: 2rem;
}

.intro-role-wrapper {
    font-size: 1rem;
    border-bottom: 0.5px dashed white;
    border-top: 0.5px dashed white;
    padding: 5px 0px;
    margin: 10px 0 25px;
}

.intro-link-wrapper,
.about-link-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.intro-links-container a,
.about-links-container a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    margin-left: 5px;
}

.intro-link-wrapper:first-of-type,
.about-link-wrapper:first-of-type {
    margin-bottom: 15px;
}

.arrow {
    width: 35px;
}

/* ============================================================================================================
                                                
                                            ABOUT PAGE STYLING

===============================================================================================================*/

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-wrapper {
    max-width: 350px;
}

#about-photo {
    height: 150px;
    margin-top: 20px;
    border-radius: 20px;
}

.about-text p {
    margin: 20px 0 40px;
    max-width: 255px;
}

.about-photo-container {
    float: right;
    margin: 20px;
}

.about-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* ============================================================================================================
                                                
                                            CONTACT PAGE STYLING

===============================================================================================================*/

.contact,
.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form,
.contact-links-wrapper {
    margin-top: 20px;
}

.contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.contact svg {
    height: 25px;
    width: 45px;
}

.contact svg:hover,
.contact svg:focus {
    transform: rotate(30deg) scale(1.2);
}

.github, 
.linkedIn,
.treehouse {
    fill: white;
    stroke: white;
}

.mail {
    stroke: white;
}

form {
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    max-width: 250px;
    background-color: var(--dark-blue-grey);
}

form h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

form h2,
form p,
#send-button {
    text-align: center;
}

form label {
    font-weight: 900;
}

input,
textarea {
    width: 100%;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: 'Fira Sans Condensed';
    letter-spacing: .5px;
    border-radius: 5px;
    color: var(--dark-slate-grey);
    margin: 5px 0 10px;
}

textarea {
    height: 45px;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

#send-button {
    width: 40%;
    background-color: var(--dark-green);
    color: white;
    padding: 3px 0;
    font-size: 1rem;
    font-family: 'Fira Sans Condensed';
    border-radius: 10px;
    border-color: white;
    text-transform: uppercase;
    font-weight: 700;
}

#send-button:hover {
    transform: scale(1.3);
}
